.col-form-label {
    font-size: smaller !important;
}

td.min {
    min-width:150px;
    white-space: nowrap;
}

td.max {
    max-width:150px;
    white-space: nowrap;
}

.marginbtn{
    margin-top: 10px;
}

// th.min {
//     width: 25%;
//     white-space: nowrap;
// }