<div class="card">
    <div class="card-body">
        <div class="clearfix">
            <h4 class="card-title float-left">Pending Reports</h4>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="table-responsive">
                <ng-container *ngIf="pendingReports.length >= 1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Exam</th>
                                <th>Class</th>
                                <th>Subject</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let report of pendingReports; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{report.date}}</td>
                                <td>{{report.exam_name}}</td>
                                <td>{{report.std_name + '-' + report.section_name}}</td>
                                <td>{{report.subject_name}}</td>
                                <td>
                                    <label *ngIf="report.status_flag == null" [routerLink]="['/app/teacher/examreport',report.exam_schedule_id]" class="click-cursor badge badge-gradient-info">PENDING</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngIf="pendingReports.length < 1">
                    <h6 class="custom-text"> NO PENDING REPORT REQUESTS</h6>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="clearfix">
            <h4 class="card-title float-left">Submitted Reports</h4>
        </div>
        <div class="tab-content" id="myTabContent">
            <div class="table-responsive">
                <ng-container *ngIf="closedReports.length >= 1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Exam</th>
                                <th>Class</th>
                                <th>Subject</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let report of closedReports; let j = index">
                                <td>{{j+1}}</td>
                                <td>{{report.date}}</td>
                                <td>{{report.exam_name}}</td>
                                <td>{{report.std_name + '-' + report.section_name}}</td>
                                <td>{{report.subject_name}}</td>
                                <td>
                                    <label *ngIf="report.status_flag == 1" [routerLink]="['/app/teacher/examreport',report.exam_schedule_id]" class="click-cursor badge badge-gradient-success">SUBMITTED</label>
                                    <label *ngIf="report.status_flag == 2" [routerLink]="['/app/teacher/examreport',report.exam_schedule_id]" class="click-cursor badge badge-gradient-success">PUBLISHED</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngIf="closedReports.length < 1">
                    <h6 class="custom-text"> NO REPORT HISTORY</h6>
                </ng-container>
            </div>
        </div>
    </div>
</div>