<div class="page-header">
  <h3 class="page-title">
    Manage Weekly Schedules
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>My Class</a></li>
      <li class="breadcrumb-item active" aria-current="page">Manage Schedule</li>
    </ol>
  </nav> 
</div>
<div class="row">

  <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body" *ngFor ="let class of classInfo; let i = index">
          <h4 class="card-title">{{class.std_name}}-{{class.section_name}}</h4>
          <p class="card-description">
            Add class <code>.table-bordered</code>
            <button type="button"  [routerLink]="['/app/teacher/createschedule',class.class_id]" class="btn btn-inverse-info btn-fw float-right">Add / Edit</button>
          </p>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Day</th>
                <th>Session Counts</th>
              </tr>
            </thead>
            <tbody *ngIf="sessionLoader">
              <tr *ngFor="let session of sessions[i];let j = index">
                <td>{{j + 1}}</td>
                <td [innerHTML]="day[session.day_fk]"></td>
                <td>{{session.session_count + " sessions"}}</td> 
              </tr> 
            </tbody>
          </table>
        </div>
          
      </div>
    </div>
</div>
