<div class="card">
        <div class="card-header">
            <div class="row report-inner-cards-wrapper">
                <div class=" col-md-6  report-inner-card">
                    <img class="logo" src="../../../../assets/images/school.svg" alt="school_icon">
                    <div class="inner-card-text">
                        <h4>Sri Gurumukhi Vidhyasharam CBSE School</h4>
                        <span class="report-count">Dindigul</span>
                    </div>
                </div>
                <div class=" col-md-6 report-inner-card">
                    <div class="inner-card-text">
                        <h4>{{selfInfo.exam_name+ " Report"}}</h4>
                        <span class="report-count">2018-2019</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Profile Info</h5>
            <div class="row">
                <div class="col-md-4 border">
                    <h6 class="text-muted">Name</h6>
                    <span class="text-info">{{selfInfo.fullname}}</span>
                </div>
                <div class="col-md-2 border">
                    <h6 class="text-muted">Class</h6>
                    <span class="text-info">{{selfInfo.std_name + "-" + selfInfo.section_name}}</span>
                </div>
                <div class="col-md-2 border">
                    <h6 class="text-muted">DOB</h6>
                    <span class="text-info" [innerHTML]="selfInfo.dob.substr(0,10)"></span>
                </div>
                <div class="col-md-4 border">
                    <h6 class="text-muted">Class Teacher</h6>
                    <span class="text-info">{{selfInfo.teachername}}</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Marks and Messages</h5>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Group</th>
                            <th scope="col">Subject</th>
                            <th scope="col" colspan="2">Max Marks</th>
                            <th scope="col">Pass Marks</th>
                            <th scope="col" colspan="2">Marks Obtained</th>
                            <th scope="col">Advise</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let groupKey of myGroup;let i = index">
                            <ng-container *ngFor="let group of myGroupReport[groupKey];let j = index">
                                <tr>
                                    <th *ngIf="j===0" [attr.rowspan]="myGroupReport[groupKey].length" scope="row">{{i+1}}</th>
                                    <td *ngIf="j===0" [attr.rowspan]="myGroupReport[groupKey].length" scope="row">{{group.group_name}}</td>
                                    <td>{{group.subject_name}}</td>
                                    <ng-container *ngIf="myGroupReport[groupKey].length>1">
                                        <td *ngIf="j===0" [attr.rowspan]="myGroupReport[groupKey].length">{{group.group_max}}</td>
                                        <td>{{group.max_marks}}</td>
                                    </ng-container>
                                    <ng-container *ngIf="myGroupReport[groupKey].length===1">
                                        <td [attr.colspan]="2">{{group.group_max}}</td>
                                    </ng-container>
                                    <td *ngIf="j===0" [attr.rowspan]="myGroupReport[groupKey].length" scope="row">{{group.pass_marks}}</td>
                                    <ng-container *ngIf="myGroupReport[groupKey].length>1">
                                        <td *ngIf="j===0" [attr.rowspan]="myGroupReport[groupKey].length" [style.color]="group.group_total>=group.pass_marks?'green':'red'">{{group.group_total}}</td>
                                        <td>{{group.mark_scored}}</td>
                                    </ng-container>
                                    <ng-container *ngIf="myGroupReport[groupKey].length===1">
                                        <td [attr.colspan]="2" [style.color]="group.group_total>=group.pass_marks?'green':'red'">{{group.group_total}}</td>
                                    </ng-container>
                                    <td>{{group.comments}}</td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">LeaderBoard</div>
            <div class="row">
                <div class="col-md-6">
                    <h6 class="card-title text-muted text-center">You</h6>
                    <div class="table-responsive border rounded p-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Your statistics</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="font-weight-bold">
                                        Total Marks </th>
                                    <td class="main-report">{{myTotal}}</td>
                                </tr>
                                <tr>
                                    <th class="font-weight-bold">
                                        Rank </th>
                                    <td class="main-report">{{myRank}}</td>
                                </tr>
                                <tr>
                                    <th class="font-weight-bold">
                                        Status </th>
                                    <td>
                                        <label *ngIf="failFlag" class="click-cursor badge badge-gradient-danger maxlabel">FAIL</label>
                                        <label *ngIf="!failFlag" class="click-cursor badge badge-gradient-success maxlabel">PASS</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="font-weight-bold">
                                        Percentage </th>
                                    <td class="main-report">{{myPercentage + "%"}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="card-title text-muted text-center">Class Toppers</h6>
                    <div class="table-responsive border rounded p-1">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="font-weight-bold">Student Name</th>
                                    <th class="font-weight-bold">Total Score</th>
                                    <th class="font-weight-bold">Rank</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of classToppers">
                                    <ng-container *ngIf="data.rank<6">
                                        <td><img class="img-sm rounded-circle" src="../../../../assets/images/logo-mini.svg"
                                                alt="img">
                                            {{data.studentname}} </td>
                                        <td>{{data.total}}</td>
                                        <td>
                                            <div class="badge badge-success p-2">{{data.rank}}</div>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">Graphical Score Analysis</div>
            <div class="row">
                <div class="col-md-6">
                    <h6 class="card-title text-muted text-center">You Versus Highest</h6>
                    <div *ngIf="renderChartFlag">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="card-title text-muted text-center">You Versus Class Average</h6>
                    <div *ngIf="renderChartFlag">
                        <canvas baseChart [datasets]="barChartData2" [labels]="barChartLabels" [options]="barChartOptions"
                            [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>