.customize-nav{
    position: fixed;
    width: 240px;
    overflow: scroll;
    top: 75px;
    bottom: 0;
}

html {
    overflow:   scroll;
  }
  
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}