<div class="row">
<div class="col-12 grid-margin">
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Schedules for III-Q</h4>

    <!-- start of schedule design -->
            <div class="row day-columns">
              <div class="day-column" *ngFor="let day of listOfDays">
                <div class="day-header">{{day.day_name}}</div>
                <div class="day-content">
                  <ng-container *ngFor="let schedule of classSchedules[day.day_id],let i=index;">
                  <div class="event" [ngClass]="colorCodes[schedule.group_fk]?colorCodes[schedule.group_fk]:'gray'">
                      <span class="title">{{schedule.period_name}}</span>
                      <span class="title">{{schedule.subject_name}}</span>
                      <footer>
                        <span>by {{schedule.first_name}}</span>
                        <span></span>
                      </footer> 
                  </div>
                </ng-container>
                </div>
                <div class="day-footer"  [innerHTML]="classSchedules[day.day_id]?classSchedules[day.day_id].length + ' Tasks': 'No Tasks'"></div>
                <!-- <div class="day-footer" [innerHTML]="(classSchedules[day.day_id].length + ' Tasks') || 'No Tasks'"></div>
                <div class="day-footer" [innerHTML]="(classSchedules[day.day_id].length + ' Tasks') || 'No Tasks'"></div> -->
              </div>
            </div>
    <!-- end of schedule design -->
          
  </div>
</div>
</div>
</div>


      