<div class="container emp-profile" *ngIf="userData">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="file profile-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                        alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{userData.fullname}}
                    </h5>
                    <h6>
                        {{userData.role_name}}
                    </h6>
                    <p class="proile-rating">{{userData.classname}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p><i class="fa fa-phone icon-margin" aria-hidden="true"></i>CONTACT</p>
                    <a> {{userData.contact1}}</a><br />
                    <a> {{userData.contact2}}</a><br />
                    <p><i class="fa fa-map-marker icon-margin"></i>ADDRESS</p>
                    <a>{{userData.address1 + ","}}</a><br />
                    <a>{{userData.address2 + ","}}</a><br />
                    <a>{{userData.city + "," + userData.state + "."}}</a><br />
                    <a>{{"Pincode - " + userData.po_code}}</a><br />
                </div>
            </div>
            <div class="col-md-8">
                <div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Subject Info</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content profile-tab custom-margin" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>User Id</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userData.user_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>DOB</label>
                            </div>
                            <div class="col-md-6">
                                <p [innerHTML]="userData.dob.substr(0,10)"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Join Date</label>
                            </div>
                            <div class="col-md-6">
                                <p [innerHTML]="userData.joindate.substr(0,10)"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p *ngIf="userData.gender == 1">Male</p>
                                <p *ngIf="userData.gender == 0">Female</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Department</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{userData.dept_name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Class</th>
                                    <th scope="col">Subject</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let subject of teacherSubjects">
                                    <th scope="row">{{subject.class_name}}</th>
                                    <td>{{subject.subject_name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>