<div class="page-header">
    <h3 class="page-title">
      Forms
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Forms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subject Activity</li>
      </ol>
    </nav>
  </div>
  <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Available Subjects</h4>
                    <table *ngIf="!getStandardFlag" class="table">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Subject</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let subject of subjects;let j= index">
                            <td>{{subject.subject_id}}</td>
                            <td><input type="text"  name="subject" [(ngModel)]="subject.subject_name" [disabled]="!subject.editFlag" #subjectName class="form-control"/></td>
                            <td *ngIf="!subject.editFlag"><label class="badge badge-primary" (click)="doEditSubject(j)">Edit</label></td>
                            <td *ngIf="subject.editFlag && !subject.spinnerFlag"><label class="badge badge-success" (click)="doSaveSubject(j,subject.subject_name)">Save</label></td>
                            <td *ngIf="subject.spinnerFlag"><div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-dual-ring"><div></div></div></div></td>
                          </tr>
                        </tbody>
                      </table>
                      <hr>
                      <p *ngIf="getSubjectFlag" class="text-primary">Error in fetching available info</p>
                      <p *ngIf="!subjects.length && !getSubjectFlag"  class="text-primary">No data available</p>
                      <p *ngIf="subjectMessageFlag"  class="text-primary">{{subjectMessage}}</p>
                      <h4>New Subjects</h4>
                    <form class="forms-sample"  #subjectForm="ngForm" (ngSubmit)="doAddSubject(newSubject.value);subjectForm.resetForm()">
                      <div class="form-group row">
                        <label for="subjectName" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" #newSubject name="newSubject" required pattern="[a-zA-Z0-9-]+" ngModel  placeholder="Subject Name">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-inverse-info mr-2 float-right" [disabled]="!subjectForm.form.valid">Add</button>
                    </form>
                    <p class="card-description">
                        Please ensure you are not creating any duplicates.
                      </p>
                  </div>
                </div>
              </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Available Activities</h4>
            <table class="table" *ngIf="!getActivityFlag">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Activity</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let activity of activities; let i = index">
                    <td>{{activity.subject_id}}</td>
                    <td><input type="text" name="activity" [(ngModel)]="activity.subject_name" [disabled]="!activity.editFlag" #departmentName class="form-control"/></td>
                    <td *ngIf="!activity.editFlag"><label class="badge badge-primary" (click)="doEditActivity(i)">Edit</label></td>
                    <td *ngIf="activity.editFlag && !activity.spinnerFlag"><label class="badge badge-success" (click)="doSaveActivity(i,activity.subject_name)">Save</label></td>
                    <td *ngIf="activity.spinnerFlag"><div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-dual-ring"><div></div></div></div></td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <p *ngIf="getActivityFlag" class="text-primary">Error in fetching available info</p>
              <p *ngIf="!activities.length && !getactivityFlag"  class="text-primary">No data available</p>
              <p *ngIf="activityMessageFlag"  class="text-primary">{{activityMessage}}</p>
              <h4>New Activities</h4>
              <form class="forms-sample" #activityForm="ngForm" (ngSubmit)="doAddActivity(newActivity.value);activityForm.resetForm()">
                <div class="form-group row">
                  <label for="activityName" class="col-sm-3 col-form-label">Name</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control"  #newActivity name="newActivity" required pattern="[a-zA-Z0-9-]+" ngModel placeholder="Activity Name">
                  </div>
                </div>
                <button type="submit" class="btn btn-inverse-info mr-2 float-right" [disabled]="!activityForm.form.valid">Add</button>
              </form>
            <p class="card-description">
                Please ensure you are not creating any duplicates.  
              </p>
          </div>
        </div>
      </div>

  </div>