<div class="page-header">
    <h3 class="page-title">
      Forms
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Forms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Miscellaneous</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Available Standards</h4>
            <table *ngIf="!getStandardFlag" class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Standard</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let standard of standards;let j= index">
                    <td>{{standard.std_id}}</td>
                    <td><input type="text" name="standard" [(ngModel)]="standard.std_name" [disabled]="!standard.editFlag" #standardName class="form-control"/></td>
                    <td *ngIf="!standard.editFlag"><label class="badge badge-primary" (click)="doEditStandard(j)">Edit</label></td>
                    <td *ngIf="standard.editFlag && !standard.spinnerFlag"><label class="badge badge-success" (click)="doSaveStandard(j,standard.std_name)">Save</label></td>
                    <td *ngIf="standard.spinnerFlag"><div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-dual-ring"><div></div></div></div></td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <p *ngIf="getStandardFlag" class="text-primary">Error in fetching available info</p>
              <p *ngIf="!standards.length && !getStandardFlag"  class="text-primary">No data available</p>
              <p *ngIf="standardMessageFlag"  class="text-primary">{{standardMessage}}</p>
              <h4>New Standards</h4>
            <form class="forms-sample" #stdForm="ngForm" (ngSubmit)="doAddStandard(newStandard.value);stdForm.resetForm()">
              <div class="form-group row">
                <label for="standardName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" #newStandard name="newStandard" required pattern="[a-zA-Z0-9-]+" ngModel placeholder="Standard Name">
                </div>
              </div>
              <button type="submit" class="btn btn-inverse-info mr-2 float-right" [disabled]="!stdForm.form.valid">Add</button>
            </form>
            <p class="card-description">
                Please ensure you are not creating any duplicates.  
              </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Available Departments</h4>
            <table *ngIf="!getDepartmentFlag" class="table">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Department</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let department of departments; let i = index">
                    <td>{{department.dept_id}}</td>
                    <td><input type="text" name="department" [(ngModel)]="department.dept_name" [disabled]="!department.editFlag" #departmentName class="form-control"/></td>
                    <td *ngIf="!department.editFlag"><label class="badge badge-primary" (click)="doEditDepartment(i)">Edit</label></td>
                    <td *ngIf="department.editFlag && !department.spinnerFlag"><label class="badge badge-success" (click)="doSaveDepartment(i,department.dept_name)">Save</label></td>
                    <td *ngIf="department.spinnerFlag"><div class="lds-css ng-scope"><div style="width:100%;height:100%" class="lds-dual-ring"><div></div></div></div></td>
                  </tr>
                </tbody>
              </table>
              <hr>
              <p *ngIf="getDepartmentFlag" class="text-primary">Error in fetching available info</p>
              <p *ngIf="!departments.length && !getdepartmentFlag"  class="text-primary">No data available</p>
              <p *ngIf="departmentMessageFlag"  class="text-primary">{{departmentMessage}}</p>
              <h4>New Departments</h4>
            <form class="forms-sample" #deptForm="ngForm" (ngSubmit)="doAddDepartment(newDepartment.value);deptForm.resetForm()">
              <div class="form-group row">
                <label for="departmentName" class="col-sm-3 col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control"  #newDepartment name="newDepartment" required pattern="[a-zA-Z0-9-]+" ngModel placeholder="Department Name">
                </div>
              </div>
              <button type="submit" class="btn btn-inverse-info mr-2 float-right" [disabled]="!deptForm.form.valid">Add</button>
            </form>
            <p class="card-description">
                Please ensure you are not creating any duplicates.
              </p>
          </div>
        </div>
      </div>

  </div>