<div class="card">
  <div class="card-body">
    <div class="clearfix">
      <h4 class="card-title float-left">Pending Approvals</h4>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="table-responsive">
        <ng-container *ngIf="openRequests.length >= 1">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Requestor</th>
                <th>Session</th>
                <th>Class</th>
                <th>Subject</th>
                <th class="custom-th">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let req of openRequests;let i = index">
                <td [innerHTML]="req.date.substring(0, 10)"></td>
                <td>{{req.requestor}}</td>
                <td>{{ req.period_name}}</td>
                <td>{{ req.std_name + "-" + req.section_name}}</td>
                <td>{{ req.subject_name}}</td>
                <td class="custom-td-element">
                  <img class="custom-image" [src]="req.likeMouseFlag?'../../../../assets/images/like_filled.svg':'../../../../assets/images/like_initial.svg'"
                    (click)="approveSwap(i)" (mouseover)="req.likeMouseFlag = true;" (mouseout)="req.likeMouseFlag = false;">
                  <img class="custom-image" [src]="req.disLikeMouseFlag?'../../../../assets/images/dislike_filled.svg':'../../../../assets/images/dislike_initial.svg'"
                    (click)="rejectSwap(i)" (mouseover)="req.disLikeMouseFlag = true;" (mouseout)="req.disLikeMouseFlag = false;">
                </td>
                <!-- <td><img class="check" src="../../../../assets/images/check-symbol.svg" alt="approve">
                              <img class="uncheck" src="../../../../assets/images/letter-x.svg" alt="reject"></td> -->
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngIf="openRequests.length < 1">
          <h6 class="custom-text"> NO APPROVALS PENDING</h6>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="clearfix">
      <h4 class="card-title float-left">Swap History</h4>
    </div>
    <div class="tab-content" id="myTabContent">
      <div class="table-responsive">
        <ng-container *ngIf="closedRequests.length >= 1">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Requestor</th>
                <th>Session</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let req of closedRequests">
                <td [innerHTML]="req.date.substring(0, 10)"></td>
                <td>{{req.requestor}}</td>
                <td>{{ req.period_name}}</td>
                <td>{{ req.std_name + "-" + req.section_name}}</td>
                <td>{{ req.subject_name}}</td>
                <td>
                  <label *ngIf="req.swap_status_fk == 1" class="click-cursor badge badge-gradient-info">REQUESTED</label>
                  <label *ngIf="req.swap_status_fk == 2" class="click-cursor badge badge-gradient-success">ACCEPTED</label>
                  <label *ngIf="req.swap_status_fk == 3" class="click-cursor badge badge-gradient-danger">REJECTED</label>
                  <label *ngIf="req.swap_status_fk == 4" class="click-cursor badge badge-gradient-warning">CANCELLED</label>
                </td>
                <!-- <td><img class="check" src="../../../../assets/images/check-symbol.svg" alt="approve">
                                    <img class="uncheck" src="../../../../assets/images/letter-x.svg" alt="reject"></td> -->
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
      <ng-container *ngIf="closedRequests.length < 1">
          <h6 class="custom-text"> NO HISTORY AVAILABLE</h6>
        </ng-container>
    </div>
  </div>
</div>