  <div class="card">
    <div class="card-body">
      <div class="clearfix">
        <h4 class="card-title float-left">Swap Approvals</h4>
      </div>
      <div class="tab-content" id="myTabContent">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Session</th>
                <th>Class</th>
                <th>Subject</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let req of swapRequests">
                <td [innerHTML]="req.date.substring(0, 10)"></td>
                <td>{{ req.period_name}}</td>
                <td>{{ req.std_name + "-" + req.section_name}}</td>
                <td>{{ req.subject_name}}</td>
                <td> <a [routerLink]="['/app/teacher/swapdetailed']"><label class="click-cursor badge badge-gradient-info">PENDING</label></a></td>
                <!-- <td><img class="check" src="../../../../assets/images/check-symbol.svg" alt="approve">
                              <img class="uncheck" src="../../../../assets/images/letter-x.svg" alt="reject"></td> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>