<div class="page-header">
    <h3 class="page-title">
        Forms
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Exam Scheduler</li>
        </ol>
    </nav>
</div>
<div class="row">

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Exam Schedules</h4>
                <form class="form-sample" [formGroup]="createExamForm" (ngSubmit)="onSubmit()">
                    <p class="card-description">
                        Select time frame of schedule
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Standard</label>
                                <div class="col-sm-9">
                                    <!-- <select  (change)="fetchSections()" formControlName="standard"
                                        [class.background-warning]="submitted && f.standard.errors">
                                        <option *ngFor="let std of standardOptions" [value]="std.std_id">{{std.std_name}}</option>
                                    </select> -->
                                    <ng-selectize (ngModelChange)="fetchSections()" [config]="standardConfig" [enabled]="!freezeFormFlag"
                                        [options]="standardOptions" [placeholder]="'Select Standard'" formControlName="standard"
                                        ngDefaultControl></ng-selectize>
                                    <div *ngIf="submitted && f.standard.errors" class="text-danger">
                                        <p *ngIf="f.standard.errors.required">Standard is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Exam</label>
                                <div class="col-sm-9">
                                    <!-- <select  formControlName="examName" [class.background-warning]="submitted && f.examName.errors">
                                        <option *ngFor="let exam of examOptions" [value]="exam.exam_id">{{exam.exam_name}}</option>
                                    </select> -->
                                    <ng-selectize [config]="examConfig" [enabled]="!freezeFormFlag" [options]="examOptions"
                                        [placeholder]="'Select Exam'" formControlName="examName" ngDefaultControl></ng-selectize>
                                    <div *ngIf="submitted && f.examName.errors" class="text-danger">
                                        <p *ngIf="f.examName.errors.required">Exam Name is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-md-4 col-form-label">Sections to be included</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <ng-selectize [config]="sectionConfig" [enabled]="!freezeFormFlag" [options]="sectionOptions"
                                    [placeholder]="'Select sections'" formControlName="selectedSections"
                                    ngDefaultControl></ng-selectize>
                            </div>
                            <div *ngIf="submitted && f.selectedSections.errors" class="text-danger">
                                <p *ngIf="f.selectedSections.errors.required">Sections are required</p>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive-sm table-bordered table-hover" *ngIf="freezeFormFlag">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Subject</th>
                                    <th class="th-lg" scope="col">Date</th>
                                    <th scope="col">Session</th>
                                    <th scope="col">Max Marks</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="scheduleInfo">
                                <tr *ngFor="let subject of createExamForm['controls']['scheduleInfo']['controls'];let i = index">
                                    <ng-container [formGroupName]="i">
                                        <th scope="row">{{i+1}}</th>
                                        <td class="min">
                                            <div>
                                                <!-- <select class="form-control" formControlName="subject" (change)="duplicateSubjectCheck()">
                                                    <option *ngFor="let subject of subjectList" [ngValue]='subject.subject_fk'>{{subject.subject_name}}</option>
                                                </select> -->
                                                <ng-selectize (ngModelChange)="duplicateSubjectCheck()" [config]="subjectConfig"
                                                    [options]="subjectList" formControlName="subject" ngDefaultControl></ng-selectize>
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','subject')">subject is required</p>
                                            </div>
                                        </td>
                                        <td class="min">

                                            <div class="input-group">
                                                <!-- <input class="form-control" onkeydown="return false" formControlName="date"
                                                    [owlDateTime]="dt1" placeholder="Date Time">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time> -->
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="date"
                                                    formControlName="date" onkeydown="return false" [minDate]="{year: 2019, month: 1, day: 1}"
                                                    ngbDatepicker #date="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="date.toggle()"
                                                        type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                                                </div>
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','date')">Exam date is required</p>
                                            </div>
                                        </td>
                                        <td class="min">
                                            <div>
                                                <!-- <select class="form-control" formControlName="session"
                                                    [class.background-warning]="submitted && subject.hasError('required','session')">
                                                    <option *ngFor="let period of sessionOptions" [value]="period.period_id">{{period.period_name}}</option>
                                                </select> -->
                                                <ng-selectize [config]="sessionConfig" [options]="sessionOptions"
                                                    formControlName="session" ngDefaultControl></ng-selectize>
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','session')">session is required</p>
                                            </div>
                                        </td>
                                        <td class="max">
                                            <div class="input-group">
                                                <input type="number" class="form-control" formControlName="maxMarks" />
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','maxMarks')">Marks is required</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="text" class="form-control" formControlName="syllabus" />
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="subject.hasError('required','syllabus')">Syllabus is required</p>
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h4 *ngIf="duplicateFlag">duplicate ke bacha</h4>
                    </div>
                    <button type="submit" *ngIf="freezeFormFlag" class="btn btn-inverse-info btn-fw float-right">Submit</button>

                    <button type="button" *ngIf="!freezeFormFlag" (click)="fetchSubjectInfo()" class="btn btn-inverse-info btn-fw float-right"
                        [disabled]="!this.createExamForm.valid">Pull Subjects</button>
                </form>
            </div>
        </div>
    </div>
</div>