    <div class="row">
    <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
            <div class="row">
                    <div class="col-md-12">
                      <div class="d-sm-flex align-items-baseline report-summary-header">
                        <h5 class="font-weight-semibold">Today's Schedule</h5> <span class="ml-auto">Updated Report</span> <button class="btn btn-icons border-0 p-2"><i class="icon-refresh"></i></button>
                      </div>
                    </div>
                  </div>
    
        <!-- start of schedule design -->
                <div class="row day-columns">
                  <div class="day-column" *ngFor="let period of listOfPeriods;let i = index">
                    <div class="day-header">{{period}}</div>
                    <div class="day-content">
                      <ng-container>
                      <div class="event" [ngClass]="colorCodes[i]?colorCodes[i]:'gray'">
                          <span class="title">Botany</span>
                          <!-- <ng-container *ngFor="let subject of groupedSubjectInfo[schedule.group_fk],let j=index">
                          <span class="title">{{subject.subject_name}}</span> -->
                          <footer>
                            <span>by Geetha</span>
                            <span></span>
                          </footer> 
                        <!-- </ng-container> -->
                      </div>
                    </ng-container>
                    </div>
                    <!-- <div class="day-footer"  [innerHTML]="classSchedules[day.day_id]?classSchedules[day.day_id].length + ' Tasks': 'No Tasks'"></div> -->
                    <!-- <div class="day-footer" [innerHTML]="(classSchedules[day.day_id].length + ' Tasks') || 'No Tasks'"></div>
                    <div class="day-footer" [innerHTML]="(classSchedules[day.day_id].length + ' Tasks') || 'No Tasks'"></div> -->
                  </div>
                </div>
        <!-- end of schedule design -->            
      </div>
    </div>
    </div>
    </div>
    
    
          