<div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-center auth">
            <div class="row w-100">
              <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left p-5">
                  <div class="brand-logo">
                    <img src="../../images/logo.svg">
                  </div>
                  <h4>Hello! let's get started</h4>
                  <h6 class="font-weight-light">Sign in to continue.</h6>
                  <form class="pt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <input type="text" formControlName="userName"  class="form-control form-control-lg" id="exampleInputEmail1" (change)="validationRemover()" placeholder="Username">
                    </div>
                    <div class="form-group">
                      <input type="password" formControlName="password" class="form-control form-control-lg" id="exampleInputPassword1" (change)="validationRemover()" placeholder="Password">
                    </div>
                    <div  *ngIf="messageFlag"  class="text-danger">
                      <p>{{messagePanel}}</p>
                   </div>
                    <div class="mt-3">
                      <button type="submit" class="btn btn-block btn-inverse-info btn-lg font-weight-medium auth-form-btn">SIGN IN</button>
                    </div>
                    <div class="my-2 d-flex justify-content-between align-items-center">
                      <!-- <div class="form-check">
                        <label class="form-check-label text-muted">
                          <input type="checkbox" class="form-check-input">
                          Keep me signed in
                        </label>
                      </div> -->
                      <a href="#" class="auth-link text-black">Forgot password?</a>
                    </div>
                    <!-- <div class="mb-2">
                      <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                       About Us
                      </button>
                    </div> -->
                    <div class="text-center mt-4 font-weight-light">
                        HandCrafted with Love from <a href="http://codetc.net" class="text-primary">CodExcectra</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>