<app-summary-panel></app-summary-panel>
<app-schedule-panel></app-schedule-panel>
<!-- <div class="row">
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-white bg-primary">My Attendance</div>
            <div class="meter">
                <ng2-odometer [number]="23" [animation]="'count'" [format]="'d'" [theme]="'train-station'" [value]="10"
                    [config]="{ }"></ng2-odometer>
                <p>%</p>
            </div>

            <div class="min-card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Total Sessions</td>
                            <td>1074</td>
                        </tr>
                        <tr>
                            <td>Sessions Attended</td>
                            <td>1003</td>
                        </tr>
                        <tr>
                            <td>Sessions Missed</td>
                            <td>71</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-inverse-dark btn-sm">View Details</button>
        </div>
    </div>


    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-white bg-primary">About Today</div>
            <div class="meter">
                <ng2-odometer [number]="23" [animation]="'count'" [format]="'d'" [theme]="'train-station'" [value]="10"
                    [config]="{ }"></ng2-odometer>
                <p>%</p>
            </div>

            <div class="min-card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Total Sessions</td>
                            <td>1074</td>
                        </tr>
                        <tr>
                            <td>Sessions Attended</td>
                            <td>1003</td>
                        </tr>
                        <tr>
                            <td>Sessions Missed</td>
                            <td>71</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-inverse-dark btn-sm">View Details</button>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-white bg-primary">My Attendance</div>
            <div class="meter">
                <ng2-odometer [number]="23" [animation]="'count'" [format]="'d'" [theme]="'train-station'" [value]="10"
                    [config]="{ }"></ng2-odometer>
                <p>%</p>
            </div>

            <div class="min-card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Total Sessions</td>
                            <td>1074</td>
                        </tr>
                        <tr>
                            <td>Sessions Attended</td>
                            <td>1003</td>
                        </tr>
                        <tr>
                            <td>Sessions Missed</td>
                            <td>71</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="button" class="btn btn-inverse-dark btn-sm">View Details</button>
        </div>
    </div>

</div> -->