<div class="page-header">
    <h3 class="page-title">
        Forms
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Schedule Description</li>
        </ol>
    </nav>
</div>
<div class="row">

    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{sessionDetail.period_name+' Description for ' +sessionDetail.std_name +'-' +
                    sessionDetail.section_name}}</h4>
                <form class="form-sample" [formGroup]="sessionForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
                    <p class="card-description">
                        Time frame of schedule
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control" [value]="sessionDetail.date" [readOnly]="true"
                                            disabled placeholder="Date Time">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Day</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input class="form-control" [value]="day" [readOnly]="true" disabled
                                            placeholder="Day">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-description">
                        Description of schedule
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Action</label>
                                <div class="col-sm-9">
                                    <select class="form-control" (change)="actionChangeValidation()" formControlName="actionType"
                                        [class.background-warning]="submitted && f.actionType.errors" [attr.disabled]="this.prefilledFlag?'':null">
                                        <option *ngFor="let action of actionTypeOptions" [value]="action.session_desc_id">{{action.session_desc_name}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.actionType.errors" class="text-danger">
                                        <p *ngIf="f.actionType.errors.required">Action is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FOR COMPLETED SESSION INPUT-->
                    <ng-container *ngIf="f.actionType.value == 1">
                        <div class="row">
                            <label class="col-md-4 col-form-label">Absentees</label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <ng-selectize [config]="studentConfig" [options]="studentOptions" [placeholder]="'Select absent students'"
                                        formControlName="absentees" [enabled]="!f.allPresent.value"></ng-selectize>
                                    <div *ngIf="submitted && f.absentees.errors && !f.allPresent.value" class="text-danger">
                                        <p *ngIf="f.absentees.errors.required">Absentees are required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <label class="col-md-4 col-form-label">About the session</label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea type="text" class="form-control" formControlName="sessionDescription"
                                        [class.background-warning]="submitted && f.sessionDescription.errors" rows="3"></textarea>
                                    <div *ngIf="submitted && f.sessionDescription.errors" class="text-danger">
                                        <p *ngIf="f.sessionDescription.errors.required">Description is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <label class="col-md-4 col-form-label">Add a homework</label>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea type="text" class="form-control"  formControlName="homeWork"
                                        [class.background-warning]="submitted && f.homeWork.errors"  rows="3"></textarea>
                                    <div *ngIf="submitted && f.homeWork.errors" class="text-danger">
                                        <p *ngIf="f.homeWork.errors.required">Homework is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div  class="col-md-6" class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                                <input type="checkbox" (change)="changeAbsenteesValidation()" formControlName="allPresent"
                                    class="form-check-input">
                                Mark as all present in this session
                                <i class="input-helper"></i>
                            </label>
                        </div>
    
                        <div class="col-md-6" class="form-check form-check-flat form-check-primary">
                            <label class="form-check-label">
                                <input type="checkbox" (change)="changeAbsenteesValidation()" formControlName="noHomeWork"
                                    class="form-check-input">
                                Mark No homework in this session
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </ng-container>

                    <!-- FOR SWAP SESSION INPUT-->
                    <ng-container *ngIf="f.actionType.value == 2">
                            <div  *ngIf="!this.prefilledFlag" class="alert alert-primary alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     Kindly select appropriate group and submit. Later form will be send to respective group for approval.
                            </div>
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label">Swap To</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" formControlName="swapTo"
                                                    [class.background-warning]="submitted && f.swapTo.errors" [attr.disabled]="this.prefilledFlag?'':null">
                                                    <option *ngFor="let group of groupOptions" [value]="group.group_id">{{group.group_name}}</option>
                                                </select>
                                                <div *ngIf="submitted && f.swapTo.errors" class="text-danger">
                                                    <p *ngIf="f.swapTo.errors.required">To whom you swap is required</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="hideSubmitFromSwap" class="alert alert-warning" role="alert">
                                    This session has been requested for swap and awaiting for approval.
                                </div>
                    </ng-container>

                    <!-- FOR ABORT SESSION INPUT-->
                    <ng-container *ngIf="f.actionType.value == 3">
                            <div *ngIf="!this.prefilledFlag" class="alert alert-primary alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                     Kindly enter your reason to abort and submit. Later form will be send to management for approval.
                            </div>
                            <div class="row">
                                    <label class="col-md-4 col-form-label">Reason to abort</label>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea type="text" class="form-control" formControlName="reasonToAbort"
                                                [class.background-warning]="submitted && f.reasonToAbort.errors" rows="3"></textarea>
                                            <div *ngIf="submitted && f.reasonToAbort.errors" class="text-danger">
                                                <p *ngIf="f.reasonToAbort.errors.required">Reason is required</p>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div *ngIf="hideSubmitFromAbort" class="alert alert-warning" role="alert">
                                This session has been requested for abort and pending on Management approval.
                            </div>
                    </ng-container>

                    <button *ngIf="!hideSubmitFromSwap && !hideSubmitFromAbort" type="submit" class="btn btn-inverse-info btn-fw float-right"  (click)="submitFlag()">Submit</button>
                    <button *ngIf="hideSubmitFromSwap" type="button" class="btn btn-inverse-info btn-fw float-right"  (click)="cancelSwap()">Cancel Swap</button>
                    <button *ngIf="hideSubmitFromAbort" type="button" class="btn btn-inverse-info btn-fw float-right"  (click)="cancelAbort()">Cancel Abort</button>
                </form>
            </div>
        </div>
    </div>
</div>