<div class="card" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollDisabled]="lockScroll" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
[scrollWindow]="false" style="height: 30rem; overflow-y: scroll;">
    <div class="card-body">
        <!-- <div class="clearfix">
        <h4 class="card-title float-left">All Sessions</h4>
      </div> -->
        <div id="wrap">
            <form action="" autocomplete="off">
                <input id="search" name="searchText" type="text" placeholder="Whom're we looking for ?" [(ngModel)]="searchText"
                    (keyup)="fetchResult()"><input id="search_submit" value="Rechercher" type="submit">
            </form>
        </div> 
        <div>
            <div class="card-body custom-margin">
                <div class="card-columns">
                    <div *ngFor="let data of matchedData" class="card profile-card-5">
                        <div class="card-img-block">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1517832207067-4db24a2ae47c"
                                alt="Card image cap">
                        </div>
                        <div class="card-body pt-0">
                            <h5 class="card-title">{{data.fullname}}</h5>
                            <h6 class="card-desc">{{"Class : " +data.classname}}</h6>
                            <h6 class="card-desc">{{"DOB : " + data.dob.substr(0,10)}}</h6>
                            <a [routerLink]="['/app/management/studentdetail',data.user_id]" class="searchcard__btn">View Info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>