<!-- <div class="page-header">
        <h3 class="page-title">
            Forms
        </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Forms</a></li>
                <li class="breadcrumb-item active" aria-current="page">Exam Scheduler</li>
            </ol>
        </nav>
    </div> -->
<div class="row">

    <div class="col-12 grid-margin" *ngIf="!loaderFlag">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Exam Reports</h4>
                <form class="form-sample" [formGroup]="createReportForm" (ngSubmit)="onSubmit()">
                    <p class="card-description">
                        Enter Marks and Comments
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Class</label>
                                <div class="col-sm-9">
                                    <input type="text" formControlName="className" class="form-control" [attr.readonly]="true"
                                        [class.background-warning]="submitted && f.className.errors" />
                                    <div *ngIf="submitted && f.className.errors" class="text-danger">
                                        <p *ngIf="f.className.errors.required">Class is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Exam</label>
                                <div class="col-sm-9">
                                    <input type="text" formControlName="examName" class="form-control" [attr.readonly]="true"
                                        [class.background-warning]="submitted && f.examName.errors" />
                                    <div *ngIf="submitted && f.examName.errors" class="text-danger">
                                        <p *ngIf="f.examName.errors.required">Exam Name is required</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label class="col-md-4 col-form-label">Subject</label>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" formControlName="subjectName" class="form-control" [attr.readonly]="true"
                                    [class.background-warning]="submitted && f.subjectName.errors" />
                            </div>
                            <div *ngIf="submitted && f.subjectName.errors" class="text-danger">
                                <p *ngIf="f.subjectName.errors.required">Subject Name is required</p>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive-sm table-bordered table-hover">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Student Name</th>
                                    <th scope="col">Absent</th>
                                    <!-- <th class="th-lg" scope="col">Date</th> -->
                                    <th scope="col">Max Marks</th>
                                    <th scope="col">Marks Scored</th>
                                    <th scope="col">Comments</th>
                                </tr>
                            </thead>
                            <tbody formArrayName="studentInfo">
                                <tr *ngFor="let student of createReportForm['controls']['studentInfo']['controls'];let i = index">
                                    <ng-container [formGroupName]="i">
                                        <th scope="row">{{i+1}}</th>
                                        <td class="min">
                                            <div class="input-group">
                                                <input type="text" formControlName="studentName" class="form-control"
                                                    [attr.readonly]="true" />
                                                <div *ngIf="submitted" class="text-danger">
                                                    <p *ngIf="student.hasError('required','studentName')">
                                                        student name is required</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="minimest">
                                            <!-- <div class="form-check form-check-primary">
                                                <label class="form-check-label">
                                                    <input type="checkbox" formControlName="absentFlag" (change)="changeAbsenteesValidation(i)" class="form-check-input">
                                                    <i class="input-helper"></i>
                                                </label>
                                            </div> -->
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input type="checkbox" formControlName="absentFlag" (change)="changeAbsenteesValidation(i)"
                                                        class="form-check-input"> </label>
                                                <i class="input-helper"></i>
                                            </div>
                                        </td>
                                        <td class="max">
                                            <div class="input-group">
                                                <input type="number" formControlName="maxMarks" [attr.readonly]="true"
                                                    class="form-control" />
                                                <div *ngIf="submitted" class="text-danger">
                                                    <p *ngIf="student.hasError('required','maxMarks')">required</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="max">
                                            <div class="input-group">
                                                <input type="number" formControlName="marksObtained" class="form-control"
                                                    [readonly]="lockEditingFlag" />
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="student.hasError('required','marksObtained')">required</p>
                                            </div>
                                        </td>
                                        <td class="min">
                                            <div class="input-group">
                                                <input type="text" formControlName="comments" class="form-control"
                                                    [readonly]="lockEditingFlag" />
                                            </div>
                                            <div *ngIf="submitted" class="text-danger">
                                                <p *ngIf="student.hasError('required','comments')">comments is
                                                    required</p>
                                            </div>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-inverse-info btn-fw float-right margin">Submit</button>
                    <button type="button" (click)="lockEditingFlag=!lockEditingFlag" [innerHTML]="lockEditingFlag?'Release':'Lock'"
                        class="btn btn-gradient-secondary btn-fw float-right margin"></button>
                </form>
            </div>
        </div>
    </div>
</div>