<div class="card" id="foo">
  <div class="card-body">
    <div class="clearfix">
      <h4 class="card-title float-left">All Schedules</h4>
    </div>
    <div>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <div class="example-container mat-elevation-z8" id="foo">
        <mat-table [class.isMobile]="isMobile" [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="Index">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [attr.data-label]="'Index No: '"> {{i+1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header="fullname"> Name </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Name: '"> {{element.fullname}} </mat-cell>
          </ng-container>

          <ng-container *ngFor="let group of groupTableData" [matColumnDef]=group.groupName>
            <mat-header-cell *matHeaderCellDef> {{group.groupName}} </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="group.groupName"> {{element[group.groupName]}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Total">
            <mat-header-cell *matHeaderCellDef mat-sort-header="total"> Total </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Total: '"> {{element.total}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Result">
            <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Result: '">
              <label *ngIf="element.status" class="click-cursor badge badge-gradient-success">PASS</label>
              <label *ngIf="!element.status" class="click-cursor badge badge-gradient-danger">FAIL</label>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="Rank">
            <mat-header-cell *matHeaderCellDef> Rank </mat-header-cell>
            <mat-cell *matCellDef="let element" [attr.data-label]="'Rank: '"> {{element.rank}} </mat-cell>
          </ng-container>

          <!-- Item Description Column -->

          <ng-container matColumnDef="#">
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          </ng-container>

          <ng-container *ngFor="let group of groupTableData" [matColumnDef]="group.groupName+'_description'">
            <mat-header-cell *matHeaderCellDef> {{group.passMarks +"/"+group.maxMarks}} </mat-header-cell>
          </ng-container>

          <ng-container matColumnDef="TotalMarks_description">
              <mat-header-cell *matHeaderCellDef> {{this.totalMarks}} </mat-header-cell>
            </ng-container>

          <!-- <ng-container matColumnDef="Status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/app/teacher/scheduledescription',element.session_id]">
                      <label *ngIf="element.status_flag==1" class="click-cursor badge badge-gradient-success">DONE</label>
                      <label *ngIf="element.status_flag==2" class="click-cursor badge badge-gradient-warning">SWAP</label>
                      <label *ngIf="element.status_flag==null" class="click-cursor badge badge-gradient-info">PENDING</label>
                      <label *ngIf="element.status_flag==3" class="click-cursor badge badge-gradient-danger">ABORTED</label>
                    </a>
                  </td>
                </ng-container> -->

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-header-row *matHeaderRowDef="descriptionColumns" class="example-second-header-row"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <button (click)="downloadPDF()">download </button>
  </div>
</div>